/* color palette from <https://github.com/vuejs/theme> */
:root {
    --rb-c-white: #ffffff;
    --rb-c-white-soft: #f8f8f8;
    --rb-c-white-mute: #f2f2f2;
  
    --rb-c-black: #1D1D20;
    --rb-c-black-soft: #222222;
    --rb-c-black-mute: #303036;
  
    --rb-c-rich-black: #031926;
    --rb-c-teal: #468189;
    --rb-c-cambridge-blue: #77ACA2;
    --rb-c-ash-gray: #9DBEBB;
    --rb-c-parchment: #F4E9CD;
  
  }
  
  /* semantic color variables for this project */
  :root {
    --color-background: var(--rb-c-white);
    --color-background-soft: var(--rb-c-white-soft);
    --color-background-mute: var(--rb-c-white-mute);
  
    --color-text: var(--rb-c-rich-black);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: var(--rb-c-black);
      --color-background-soft: var(--rb-c-black-soft);
      --color-background-mute: var(--rb-c-black-mute);
  
      --color-text: var(--rb-c-parchment);
    }
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
  }
  
  body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    /* overflow: hidden; */
  }
  